.unstyledButton {
    width: 100%;
    text-align: center;
    height: 100px;
    line-height: 50px; 
    transition: background-color 0.3s ease; 
}
.activeNavItem {
    background-color: #f0f8ff; 

}